.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.siteName {
  font-size: 30px;
  font-family: var(--font-instrument-serif);
}

@media (max-width: 1024px) {
  .header {
    padding: 0;
  }
}
