.loginButton {
  background-color: var(--spotify-green);
  padding: max(16px, 1.5vw) max(32px, 3vw);
  margin-top: max(20px, 1.875vw);
  border-radius: 400px;
  font-size: max(16px, 1.5vw);
  transition: 0.3s;
}