.title {
  background-color: var(--maya-blue);
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 8px;
  transition: border-radius 0.3s ease-in-out, 0.3s;
}

.title:hover {
  filter: brightness(0.8);
}

.contentWrapper {
  background-color: var(--light-blue);
  border-radius: 0 0 12px 12px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
