.outerContainer {
  /* override body's justify-content, which was done to centralise Login.js */
  margin-bottom: auto;
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
