.container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.title {
  font-size: max(100px, 12vw);
}

.description {
  font-size: max(16px, 1.92vw);
}

.butterfly {
  width: 0;
  position: absolute;
  top: 20%;
  left: max(300px, 36%);
  white-space: pre-wrap;
  font-size: max(0.25rem, 0.6vw);
  color: #d0d0d0;
  user-select: none;
}
