.container {
  margin-left: 2rem;
}

.title {
  font-size: max(64px, 12vw);
  font-family: var(--font-instrument-serif);
  position: relative;
}

.description {
  font-size: max(16px, 2vw);
}
/* the worst code in this entire codebase!! i am sorry :(
  wrestling with this ascii art has been awful...
  would appreciate any tips */

.butterfly {
  width: 0;
  display: inline-block;
  white-space: pre-wrap;
  font-size: max(4px, 0.6vw);
  color: var(--medium-grey);
  user-select: none;
}

.centralisedButterfly {
  display: none;
}

.rightButterfly {
  position: absolute;
  bottom: 20%;
  left: calc(4px + 30vw);
  margin-left: 8px;
}

@media (max-width: 475px) {
  .container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .centralisedButterfly {
    display: inline-block;
    width: 200px;
  }

  .rightButterfly {
    display: none;
  }
}
