.errorButton {
  background-color: var(--light-grey);
  width: fit-content;
  margin: auto;
  padding: max(16px, 1.5vw) max(32px, 3vw);
  border-radius: 400px;
  font-size: max(16px, 1.5vw);
  transition: 0.3s;
}