.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.utils {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.buttons > button {
  background-color: var(--light-blue);
  text-align: center;
  padding: 16px 0;
  width: 100%;
  border-radius: 400px;
  font-size: 16px;
  transition: 0.3s;
}

.buttons > button:hover {
  filter: brightness(0.8);
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .buttons {
    flex-direction: column;
  }
}
