.container {
  width: min(550px, 80vw);
  container-type: inline-size;
}

.title {
  font-size: 50px;
  margin-bottom: 1rem;
  font-family: var(--font-instrument-serif);
}

.trackContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

@container (max-width: 449px) {
  .trackContainer {
    grid-template-columns: 1fr;
  }
}