.container {
  width: 50%;
  container-type: inline-size;
}

.title {
  font-size: 50px;
  margin-bottom: 1rem;
  font-family: var(--font-instrument-serif);
}

.trackContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@container (max-width: 449px) {
  .trackContainer {
    grid-template-columns: 1fr;
  }
}